
  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-self: center;
    justify-content: center;
    height: 100vh;
  }
 .mainInscription {
  display: flex;
  font-family:'DisplayThin';
  color: rgb(255, 255, 255);
  font-size: clamp(10px, 6vw, 120px);
  justify-content: space-around;
  justify-self: center;
  white-space: nowrap; /* запрещает перенос строки */
 }
  /* Контейнер для видео */
  .video-background {
    position: fixed; /* фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* скрыть лишнее */
    z-index: -1; /* чтобы было позади другого контента */
  }

  /* Видео */
  .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* растягивание и сохранение пропорций */
    /* Можно добавить дополнительные стили для плавности или фильтров */
  }

  /* Контент поверх видео */
  @font-face {
  font-family: 'DisplayBlack';
  src: url('fonts/BlackerSansDisplayBlack.ttf') format('truetype');
}
 @font-face {
  font-family: 'DisplayThin';
  src: url('fonts/BlackerSansDisplayThin.ttf') format('truetype');
}

