
  .street {
    max-height: 50px;
    border-radius: 5px;    
    background-color: #807d7d31;
    color: #ffffff;
    font-size: 100%;
    border: none;
    transition: 0.2s;
    flex-direction: row;
  }
  .street:hover {
      transform: translate(0,-3px);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.74);
  }
  .cards {
    gap: 10px;
  }
  .card {
    flex-direction: row;
    justify-items: center;
    justify-content: flex-start;
    gap: 5px;
  }
  html * {
    font-family: "Alumni Sans Pinstripe", sans-serif;
  }
  body {
    margin: 0;
    line-height: 1.6;
    background-color: #f4f4f462;
    color: #333;
    padding: 0;
    height: 100%;
  }
   body * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
style{
  display: none;
}
  header {
    background-color: #35022de1;
    color: #ffffff;
    padding: 20px 10px;
    text-align: center;
  }

  .h1 {
 font-size: 4em;
 line-height: 1.2;
  }

  .nav {
    flex-direction: row;
    min-height: 100px;
  }

  .navbtn {
    color: #ffffffc8;
    text-decoration: none;
    font-size: 2em;
    background-color: #0000002a;
    box-shadow: 0 0px 0px 0 rgb(0, 0, 0);
    transition: 0.5s;
    border: 1px;;
    flex: 1;
    min-width: 150px;
  }
  .navbtn:hover {
  transform: translate(0,-3px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.74);
  }

  nav a:hover {
    text-decoration: underline;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }

  .section {
    margin-bottom: 40px;
    color: #ffffff;
    background-color: #35022d9e;
    padding: 20px;
    border-radius: 8px;
  }

  h2 {
    margin-top: 0;
    color: #ffffff;
  }
  
/* Фотоальбом */
.gallery {
  flex-direction: row;
   flex-wrap:wrap; 
   gap:10px; 
}

.gallery img{
   width:100%; 
   max-width:200px; 
   border-radius:8px; 
   object-fit:cover; 
}

/* Новости */
.news-item{
   margin-bottom:15px; 
   background-color: #33333349;
   padding: 10px;
}

footer{
   background-color:#4001427b;
   color:#fff; 
   text-align:center; 
   padding:15px; 
   font-size: small;
   color: #d8d5d5;
}
  /* Контейнер для видео */
  .video-background {
    position: fixed; /* фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* скрыть лишнее */
    z-index: -1; /* чтобы было позади другого контента */
  }

  /* Видео */
  .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* растягивание и сохранение пропорций */
    /* Можно добавить дополнительные стили для плавности или фильтров */
  }

  /* Контент поверх видео */
  .content {
    opacity: 0;
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255); /* или любой другой цвет текста */
    width: 100%;
  }
  .contentshow {
    opacity: 1;
    transition: 1s ease 5s;
  }
  @media (max-width: 768px) {
  .flex-item {
    flex: 1 1 100%; /* один элемент на строку */
    /* или другие стили для адаптации */
  }
}
